* {
    font-family: Raleway;
  }
  
  
  body {
    margin: 0;
    font-family: Raleway;
  }
  

  
  .grid-container {
    display: flex;
    justify-content: center;
    grid-gap: 8%;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  
  .grid-container > div {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: rgba(116, 116, 116, 0.966);
  }
  
  div.grid-container {
    margin-bottom: 2%;
  }
  @media screen and (max-width: 400px) {
    .grid-container > div {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      background-color: rgb(255, 255, 255);
      text-align: center;
      padding: 20px 0;
      font-size: 20px;
      color: rgba(116, 116, 116, 0.966);
    }
  }
  
  /*cards*/
  
  .container {
    display: flex;
    padding: 32px;
    padding-bottom: 8%;
  }
  
  .container section.card {
    display: flex;
  
    flex-direction: column;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    max-height: 468px;
    margin-left: 32px;
  }
  
  .container section.card:first-child {
    margin-left: 0;
  }
  
  .container section.card .icon {
    width: 64px;
    height: 64px;
  }
  
  .container section.card img {
    width: 100%;
  }
  
  .container section.card h3 {
    font-size: 100%;
    margin: 16px 0;
  }
  
  .container section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
  }
  span {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  span {
    color: white;
  }
  h3 {
    color: white;
    font-weight: 330;
  }
  @media screen and (max-width: 720px) {
    .container {
      flex-direction: column;
    }
  
    .container section.card {
      margin-left: 0;
      margin-bottom: 32px;
    }
  
    .container section.card:last-child {
      margin-bottom: 0;
    }
    span {
      text-align: center;
      margin-left: 25%;
      margin-right: 23%;
    }
  }
  
  #title2 {
    display: flex;
    justify-content: left;
    margin-right: 60%;
  }
  .brand_logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    filter: grayscale(100%);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg)
      brightness(300%) contrast(0);
    opacity: 0.55;
    padding: 0.7%;
  }
  .brand_logos:hover {
    transition: all 0.2s ease 0s;
    filter: grayscale(0%);
    opacity: 1;
  }
  * {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  div.flex-item-right {
    display: flex;
    justify-content: space-around;
  }
  img.brand_logos {
    width: 33%;
    height: 33%;
  }
  @media (max-width: 800px) {
    img.brand_logos {
      width: 96px;
      height: 96px;
    }
    div.flex-item-right {
      display: flex;
      justify-content: space-around;
    }
  }
  @media (max-width: 400px) {
    div.flex-item-right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .left {
    background-color: #3f4f5f;
    padding: 20px;
    float: left;
    width: 20%;
  }
  
  .right {
    background-color: #04aa6d;
    padding: 20px;
    float: left;
    width: 20%;
  }
  
  @media screen and (max-width: 800px) {
    .left,
    .main,
    .right {
      width: 100%;
    }
  }
  
  .flex-container2 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    height: 80vh;
  }
  
  .flex-item-left2 {
    background-color: #e5faf8;
    padding: 10px;
    flex: 50%;
    overflow: hidden;
  }
  .box img {
    padding-top: 9%;
  }
  img.img-logo {
    position: relative;
    top: 22px;
  }
  .flex-item-right2 {
    background-color: #e5faf8;
    padding: 10px;
    flex: 50%;
    height: 80vh;
    display: flex;
    padding-bottom: 20px;
    margin-top: 0%;
  }
  .info {
    font-size: 45%;
    color: #747474;
    padding-top: 5%;
  }
  @media (max-width: 730px) {
    .flex-item-right2 {
      flex-wrap: wrap;
    }
    div #dv {
      width: 47%;
      margin-top: 65px;
    }
  }
  @media (max-width: 430px) {
    .flex-item-right2 {
      flex-wrap: wrap;
    }
    .box .tlt {
      font-size: 60%;
    }
    div.flex-item-left2 {
      display: none;
    }
  }
  @media (max-width: 310px) {
    #dv p {
      font-size: 10%;
    }
  }
  
  div.box {
    border-radius: 7px;
    padding: 3%;
    margin: 2%;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    height: 235px;
  }
  div.box > span {
    font-size: 50%;
    color: #747474;
  }
  div.box > h3 {
    color: #04aa6d;
    font-size: 97%;
  }
  section.stats_item {
    margin-left: 20%;
    margin-right: 20%;
  }
  @media (max-width: 800px) {
    .flex-container2 {
      flex-direction: column;
    }
  }
  div.flex-item-left2 > h1 {
    background-color: #e5faf8;
  }
  div.flex-item-left2 > p {
    font-size: 64%;
    text-align: left;
    margin-left: 10%;
    color: #747474;
  }
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    div.box {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  
  div.random_text > p {
    text-align: center;
    font-size: 60%;
    color: #747474;
    margin-left: 20%;
    margin-right: 20%;
  }
  div.random_text > h1 {
    margin-top: 4%;
  }
  
  .countries {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.185);
    transition: 0.3s;
    height: 500px;
    width: 300px;
    border-radius: 12px;
    
  }
  
  .countries:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.295);
  }
  
  .paragraph {
    font-style: normal;
    text-align: center;
    padding-top: 21px;
    font-size: smaller;
  }
  .b {
    background-color: #3f4f5f;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-weight: 700;
  }
  
  h5 {
    font-size: smaller;
    text-align: right;
    color: rgba(0, 0, 0, 0.425);
  }
  /*Cards*/
  
  .projects {
    text-align: center;
    font-size: 40px;
    color: #3f4f5f;
    transition: 0.2s;
    cursor: pointer;
  }
  .cards-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 80px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
  }
  div.countries {
    width: 300px;
    height: 380px;
  }
  section.cards-item {
    margin: 10%;
    margin-top: 5%;
  }
  b {
    font-weight: lighter;
  }
  #see_openings {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    margin: 4px;
  }
  

  
  .bg {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("img/head_image.jpg");
    height: 62%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgba(221, 221, 221, 0.342);
  }
  .footer h2 {
    font-size: 95%;
    padding-left: 15%;
    padding-right: 15%;
    color: #747474;
  }
  
  .Div {
    float: left;
    
    color: #5a5a5a;
    width: 300px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
    
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  #fstitle{
    text-align: center;
    margin-top: 10%;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
  }
  .centered {
    font-size: 700%;
    margin-left: 60%;
    margin-bottom: 600%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
  }
  .ommok{
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.7);
  }
  div#myBtncontainer{
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      
  }

/*Carousel cards*/
 #carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 7;
    --middle: 4;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  div.item:nth-of-type(6) {
    --offset: 6;
    background-color: green;
  }
  div.item:nth-of-type(7) {
    --offset: 7;
    background-color: black;
  }
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
  }
  input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
  }
  input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
  }
  input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
  }
  .test{
    z-index: 9999;
  }

  .grande {
    width: 300px;
    height: 400px;
  }